<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
 
<p>
  <strong>AVG:</strong>
  <%= @player.avg %>
</p>

<p>
  <strong>HR:</strong>
  <%= @player.hr %>
</p>

<p>
  <strong>RBI:</strong>
  <%= @player.rbi %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @player.runs %>
</p>

<p>
  <strong>SB:</strong>
  <%= @player.sb %>
</p>

<p>
  <strong>OPS:</strong>
  <%= @player.ops %>
</p>